/*O BODY é a BASE de todo o SITE, onde posso mudar toda a estrutura do site*/

/*Regras para chamar:

*CLASSES* só são chamadas com PONTOS (div, button, input, h1...)

*TAGS* são chamadas pelo PROPRIO nome exemplo: <h1> xpto </h1>

*ID* os IDS só são chamados com # (hashtags) 

HOOVER 
*/

body {
    margin: 0 ;
    padding: 0;
    /* COLOCAR AQUI A FONTE PARA SER PADRAO EM TODO O SITE */
}

header {
    height: 100vh;
    width: 100%;
}

nav { 
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: space-between; 
    position: fixed;
    z-index: 3;
} 

.logoSite img {
    width: 120px;
    height: 120px;
    margin-left: 25%;
}

nav ul {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    margin: 15%; /* espaço da direita */
    align-items: center; /* itens alinhados no centro  */
    width: 100%; /* largura */
    list-style: none;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fundoHome {
    width: 100%;
    height: 100vh; /*VH: view height, pega a altura do monitor (ele adapta de acordo com o pc)*/
    position: absolute;
    top: 0;
    background-image: url(./imagensSite/abertura_oficial.gif);
    background-size: 100%; 
}

.container { 
    display: flex; 
    width: 100%;
    height: auto;
    background-color: black;
}