@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Poppins:wght@300&display=swap');


.containerCalculo {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 710px;
    height: 600px;
    margin-top: 90px;
    margin-left: 210px;
    background: linear-gradient(100deg, #1b022a, transparent);
    flex-direction: column;
    margin-top: 90px;

}

.escolha {
    display: flex;
    font-size: 20px;
    margin-top: 90px;
    text-align: center;
}

#numero {
    display: flex;
    width: 90px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}

.gerarNumeros {
    font-family: 'Bruno Ace', cursive; 
    font-size: 15px;
    color: white;
    width: 200px;
    height: 6vh;
    margin-top: 15px;
    border-radius: 25px;
    border-style: none;
    background-color: #c80373;
    cursor: pointer;
    
}

#resultado {
    display: flex;
}