.chart1 {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 500px;
    margin-top: 90px;
    margin-left: 180px;
    background-color: rgb(255, 255, 255) ;
    border-radius: 15px;  
}

.tituloDash {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-left: 90px;
}
