/*O BODY é a BASE de todo o SITE, onde posso mudar toda a estrutura do site*/

/*Regras para chamar:

*CLASSES* só são chamadas com PONTOS (div, button, input, h1...)

*TAGS* são chamadas pelo PROPRIO nome exemplo: <h1> xpto </h1>

*ID* os IDS só são chamados com # (hashtags) 

HOOVER 
*/

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Poppins:wght@300&display=swap');

body {
    margin: 0 ;
    padding: 0;
    font-family:'Bruno Ace', cursive;

    /* COLOCAR AQUI A FONTE PARA SER PADRAO EM TODO O SITE */
}

header {
    height: 100vh;
    width: 100%;
   
}

nav { 
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: space-between; 
    position: absolute;
    z-index: 3;
} 

.logoSite img {
    width: 120px;
    height: 120px;
    margin-left: 25%;
}

.elementosNavbar {
    display: flex;
    justify-content: space-between; 
    margin-right: 75px; /* distancia entre o canto direito */
    align-items: center; /* itens alinhados no centro  */
    width: 900px; /* largura entre os elementos */
    list-style: none;
    color: #ffffff;
    font-family: 'Bruno Ace', cursive;
    font-size: 15px;
}
/* A CLASSE ABAIXO ESTÁ ESTILIZANDO A TAG "A" QUE ESTÁ CHAMANDO O LINK DA PAGINA SOBRE  */
.elementosNavbar a {
    color: white;
    font-style: normal;
    text-decoration: none;
}

.fundoHome {
    width: 100%;
    height: 700px; /*VH: view height, pega a altura do monitor (ele adapta de acordo com o pc)*/
    position: absolute;
    top: 0;
    background: url(../assets/abertura_oficial.gif);
    background-size: 100%; 
}

.containerHome {
    display: flex;
    width: 100%;
    height: 600px;
    background-color: black;
}

/* ESSA CLASSE ABAIXO É PARA O CONTEUDO SOBRE DA PAGINA, OU SEJA UM NOVO "BLOCO" */
.containerSanJunipero { 
    display: flex; 
    width: 100%;
    height: 680px;
    background-color: rgb(1, 0, 1);
}

.containerPersonagens {
    display: flex; 
    width: 100%;
    height: 680px;
    background-color: rgb(0, 0, 0);
}

.containerInteligenciaArtificial {
    display: flex; 
    width: 100%;
    height: 680px;
    background-color: rgb(0, 0, 0);
}

.rodape {
    display: flex; 
    width: 100%;
    height: 180px;
    background-color: rgb(0, 0, 0);
    font-size: 13px;
}

.fraseRodape {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    color: #ffffff;
    width: 100%;
}
/* --------------------------------------------------------------------------------------------------------- */

/* estilização sobre san junipero*/

.tituloSanJunipero {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    color: #ffffff;
    width: 100%;
    font-family:'Bruno Ace', cursive;
    font-size: 35px;
    position: absolute;
}

.imgSanJunipero {
    width: 400px;
    height: 450px;
    background-image: url(../assets/vaporwave_gifSanJunipero.gif);
    display: flex;
    justify-content:left;
    margin-top: 15rem;
    margin-left: 5rem;
}

.textoSanJunipero {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    width: 500px;
    margin-top: 18rem;
    margin-left: 8rem;
    text-align: justify;
}

/* --------------------------------------------------------------------------------------------------------- */
/* estilização do container da yorkie e kelly */

.tituloPersonagens {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    color: #ffffff;
    width: 100%;
    font-family:'Bruno Ace', cursive;
    font-size: 35px;
    position: absolute;
}

.imgPersonagens {
    width: 400px;
    height: 450px;
    background: no-repeat;
    background-image: url(../assets/fotocortada2.jpg);
    display: flex;
    justify-content: center;
    margin-top: 15rem;
    margin-left: 5rem;
}

.textoPersonagens {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin-top: 18rem;
    margin-left: 8rem;
    text-align: justify;
    width: 500px;
}

/* --------------------------------------------------------------------------------------------------------- */

/* conteudo sobre a inteligencia artificial utilizada na serie */

.tituloIA {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    color: #ffffff;
    width: 100%;
    font-family:'Bruno Ace', cursive;
    font-size: 35px;
    position: absolute;
}

.imgIA {
    width: 400px;
    height: 450px;
    background: no-repeat;
    background-image: url(../assets/tumblr_b94d99276aace41f4d2f5a7216ac9045_d6c45ca6_540.webp);
    justify-content: center;
    margin-top: 15rem;
    margin-left: 5rem;
}

.textoIA {
    display: flex;
    justify-content: center;
    width: 500px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin-top: 18rem;
    margin-left: 8rem;
    text-align: justify;
}
