/*O BODY é a BASE de todo o SITE, onde posso mudar toda a estrutura do site*/

/*Regras para chamar:

*CLASSES* só são chamadas com PONTOS (div, button, input, h1...)

*TAGS* são chamadas pelo PROPRIO nome exemplo: <h1> xpto </h1>

*ID* os IDS só são chamados com # (hashtags) 

HOOVER 
*/

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

body {
    margin: 0 ;
    padding: 0;
    font-family:'Bruno Ace', cursive;

    /* COLOCAR AQUI A FONTE PARA SER PADRAO EM TODO O SITE */
}

header {
    height: 100vh;
    width: 100%;
}

nav { 
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: space-between; 
    position: fixed;
    z-index: 3;
} 

.logoSite img {
    width: 120px;
    height: 120px;
    margin-left: 25%;
}

.elementosNavbar {
    display: flex;
    justify-content: space-between; 
    margin-right: 75px; /* distancia entre o canto direito */
    align-items: center; /* itens alinhados no centro  */
    width: 75%; /* largura entre os elementos */
    list-style: none;
    color: #ffffff;
    font-family: 'Bruno Ace', cursive;
    font-size: 1rem;
}
/* A CLASSE ABAIXO ESTÁ ESTILIZANDO A TAG "A" QUE ESTÁ CHAMANDO O LINK DA PAGINA SOBRE  */
.elementosNavbar a {
    color: white;
    font-style: normal;
}

.fundoHome {
    width: 100%;
    height: 700px; /*VH: view height, pega a altura do monitor (ele adapta de acordo com o pc)*/
    position: absolute;
    top: 0;
    background: url(../assets/abertura_oficial.gif);
    background-size: 100%; 
}

.containerHome {
    display: flex;
    width: 100%;
    height: 600px;
    background-color: black;
}

/* ESSA CLASSE ABAIXO É PARA O CONTEUDO SOBRE DA PAGINA, OU SEJA UM NOVO "BLOCO" */
.containerSanJunipero { 
    display: flex; 
    width: 100%;
    height: 700px;
    background-color: rgb(1, 0, 1);
}

.containerPersonagens {
    display: flex; 
    width: 100%;
    height: 700px;
    background-color: rgb(210, 142, 255);
}

.containerInteligenciaArtificial {
    display: flex; 
    width: 100%;
    height: 700px;
    background-color: rgb(168, 60, 240);
}

.rodape {
    display: flex; 
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 0);
    font-size: 13px;
}

.fraseRodape {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: #ffffff;
    width: 100%;
}
/* --------------------------------------------------------------------------------------------------------- */

/* estilização sobre san junipero*/

.tituloSanJunipero {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    color: #ffffff;
    width: 100%;
    font-family:'Bruno Ace', cursive;
    font-size: 2.3rem;
    position: absolute;
}

.imgSanJunipero {
    width: 430px;
    height: 450px;
    background-image: url(../assets/vaporwave_gifSanJunipero.gif);
    border-radius: 1rem;
    border-color: #000000;

}

.posicionamentoImg {
    width: 100%;
    display: flex;
    justify-content:;
    margin-top: 10rem;
    margin-left: 5rem;
}

.textoSanJunipero {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.posicionamentoTextoSJ {
    display: flex;
    width: 100%;
    margin-top: 15rem;
    margin-right: 9rem;
    text-align: justify;

}

/* --------------------------------------------------------------------------------------------------------- */
/* estilização do container da yorkie e kelly */

.tituloPersonagens {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    color: #ffffff;
    width: 100%;
    font-family:'Bruno Ace', cursive;
    font-size: 2.3rem;
    position: absolute;
}