/*O BODY é a BASE de todo o SITE, onde posso mudar toda a estrutura do site*/

/*Regras para chamar:

*CLASSES* só são chamadas com PONTOS (div, button, input, h1...)

*TAGS* são chamadas pelo PROPRIO nome exemplo: <h1> xpto </h1>

*ID* os IDS só são chamados com # (hashtags) 

HOOVER 
*/

body {
    margin: 0 ;
    padding: 0;
    /* COLOCAR AQUI A FONTE PARA SER PADRAO EM TODO O SITE */
}

header {
    height: 100vh;
    width: 100%;
}

nav { 
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: space-between; 
    position: fixed;
    z-index: 3;
} 

.logoSite img {
    width: 120px;
    height: 120px;
    margin-left: 25%;
}

.elementosNavbar {
    display: flex;
    justify-content: space-between; 
    margin-right: 40px; /* distancia entre o canto direito */
    align-items: center; /* itens alinhados no centro  */
    width: 66%; /* largura entre os elementos */
    list-style: none;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* A CLASSE ABAIXO ESTÁ ESTILIZANDO A TAG "A" QUE ESTÁ CHAMANDO O LINK DA PAGINA SOBRE  */
.elementosNavbar a {
    color: white;
    font-style: normal;
}


.fundoHome {
    width: 100%;
    height: 700px; /*VH: view height, pega a altura do monitor (ele adapta de acordo com o pc)*/
    position: absolute;
    top: 0;
    background: url(../assets/abertura_oficial.gif);
    background-size: 100%; 
}

.containerHome {
    display: flex;
    width: 100%;
    height: 700px;
    background-color: black;
}

/* ESSA CLASSE ABAIXO É PARA O CONTEUDO SOBRE DA PAGINA, OU SEJA UM NOVO "BLOCO" */
.containerSanJunipero { 
    display: flex; 
    width: 100%;
    height: 700px;
    background-color: rgb(219, 178, 246);
}

.containerPersonagens {
    display: flex; 
    width: 100%;
    height: 700px;
    background-color: rgb(210, 142, 255);
}

.containerInteligenciaArtificial {
    display: flex; 
    width: 100%;
    height: 700px;
    background-color: rgb(168, 60, 240);
}

.rodape {
    display: flex; 
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
}